EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBRWSdzTjMx29i_KadYvwGCR-TxQGZx9Fg
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=the-third-space-626e8.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=the-third-space-626e8
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=the-third-space-626e8.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=944648151500
EXPO_PUBLIC_FIREBASE_APP_ID=1:944648151500:web:affb483524821fa1853d69
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
